
.accordeon {
    width:300px;
    list-style:none;
}
 
.name {
    cursor:pointer;
    color:#FFFFFF;
    font-size:12px;
    font-family:Verdana;
    line-height: 30px;
    height: 30px;
    background: #266359;
    border: 1px solid #111;
    text-align: center;
}
 
.content {
    display: none;
    padding:10px;
    font-size:12px;
    line-height:15px;
}

.plus{
    margin-left: 3px;
    margin-top: 3px;
    width: 24px;
    height: 24px;
    background: url('play.png');
background-repeat: no-repeat;
float:left;

}